################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Survey/.vs/Survey/v17/.suo
/Survey/.vs/Survey
/Survey/.vs/ProjectEvaluation
